# Logs
logs
*.log
npm-debug.log*
logs
!src/libs/logs

node_modules
dist
dist-ssr
*.local

# environment variables
.env
.env.production

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
